extends layout

block content
  
  ol
    - for (var i=0; i < presidents.length; i++) {
      - var president = presidents[i];
      li
        a(href='/president/' + president._id)= president.name
    - }
