doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="/javascripts/application.js")
  body
    
    h1= title || 'Presidents of the United States'
    p Learn more about the Presidents of the United States
    
    nav#navigation
      .nav
        a(href='/') List of Presidents
      .nav
        a(href='/search-by-year') Presidents by year
      .nav
        a(href='/search-by-name') Find Presidents by name
      .nav
        a(href='/parties') Presidential parties
    
    #content
      block content
