extends layout

block content
  
  #chart-display
    .col-1-3
      #legend
    
    .col-2-3
      canvas#chart(width="500", height="500")
    
  script(src='/javascripts/Chart.min.js')
  script(src='/javascripts/parties.js')
