extends layout

block content
  
  #year-form
    .field
      label(for='year') Year in office&nbsp;
      select#year(placeholder='Select Year...')
        option(value=0) Select Year...
        - for (var i=1789; i <= parseInt(new Date().getFullYear()); i++) {
          option(value=i)= i
        - }
  
  ul#presidents
    
  script(src="/javascripts/search-by-year.js")
