extends layout

block content
  
  .search-form
    .field
      input#q(type='text', placeholder='Search by first or last name')
    
    button#search-btn.btn(type='button') Search
  
  ul#presidents
  
  script(src='/javascripts/search-by-name.js')
