@import 'jeet'
@import 'axis'

body
  center 900px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  link: #1e81f2

.btn
  button()

.search-form
  .field
    field()
    col(1/3)
    margin-right 0
    #q
      input()


nav#navigation
  border-bottom solid 1px gray
  padding-bottom 25px
  .nav
    span(1/4)

#content
  margin-top 10px

.col-1-3
  col(1/3)

.col-2-3
  col(2/3)
